APP_NAME=NoctoHub
APP_ENV=production
APP_KEY=
APP_URL=https://noctocode.online
APP_DEBUG=false

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=nocto
DB_USERNAME=nocto
DB_PASSWORD=drihte-noctohub-1337!

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CLIENT=phpredis

SESSION_DRIVER=redis
SESSION_LIFETIME=120
CACHE_STORE=redis
QUEUE_CONNECTION=redis

TELEGRAM_BOT_TOKEN=8707212374:AAEKhmxJZa1GWhcI8bft69g0leb4hYjW9vs
TELEGRAM_REDIRECT_URI=https://noctocode.online/auth/telegram/callback

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
MAIL_MAILER=log
